.navIconPng{
  color:#817B6F;
  max-width: 20px;
  max-height: 20px;
}
.link{
  color:#ADA89F;
  text-decoration:none;
  font-size: 14px;
  margin-left:10px;
}
.navItem{
  margin-bottom: 20px;
  margin-left: 28px;
}