.button{
  color: white;
  background-color: #FF4800;
  padding: 13px 8px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
  text-align: center;
}
.header{
  margin-top:24px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #575757;
}